.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty_state{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.shop_now_btn {
    width: 100px;
    height: 32px;
    background: #CA4022;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}