.header_container {
    width: 100%;
    height: 680px;
    background-image: url('https://i.postimg.cc/85zq188R/muscular-model-man-in-khaki-t-shirt-on-background-2022-06-06-21-32-14-utc-1-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 16px 8px;
}

.header {
    margin: 200px 0 0 120px;
}

.heading {
    font-size: 64px;
    font-weight: 900;
    color: #FFFFFF;
}

.sub_heading {
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    margin: 4px 0 8px 0;
}
.browse_cta {
    background: #CA4022;
    width: 199px;
    height: 47px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}